<div ng-controller="MainCtrl">
  <header>
    <div class="row navbar pretty" id="nav">
      <!-- Toggle for mobile navigation, targeting the <ul> -->
      <a class="toggle" gumby-trigger="#nav > ul" href="#"><i class="icon-menu"></i></a>
      <h3 class="three columns logo">
        <a href="#">
          <i class="icon-network"></i>
          PromoTrack
        </a>
      </h3>
      <ul class="push_eleven three columns">
        <li><a href="#">jay.earwood@gmail.com</a></li>
      </ul>
    </div>
  </header>

  <section id="content" class="row tabs vertical">
    <ul class="tab-nav two columns">
      <li class="active"><a href="#">Dashboard</a></li>
      <li><a href="#">Warehouse</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Account</a></li>
    </ul>

    <div class="tab-content ten columns active">
      {{ dashboard.body }}
    </div>

    <div class="tab-content ten columns">
      {{ warehouse.body }}
    </div>

    <div class="tab-content ten columns">
      {{ orders.body }}
    </div>

    <div class="tab-content ten columns">
      {{ account.body }}
    </div>

  </section>

  <footer class="row navbar pretty" id="footer">
    <div id="copyright">Copyright &copy; 2013 - <a href="#">Jay Earwood</a></div>
  </footer>
 
</div>
